@charset "UTF-8";
@import "common";

//flex两种主轴row column
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-fluid {
  display: flex;
  flex-wrap: wrap;
}

//各种对齐方式
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-center-top {
  display: flex;
  align-items: center;
}
.column-center-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.column-center-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.column-center-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.column-left-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.column-right-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.column-left-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.column-right-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//flex-direction:row
.row-center-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.row-center-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.row-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row-left-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.row-right-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.row-left-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.row-right-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.span1 {
  flex: 1;
}
.span2 {
  flex: 2;
}
.span3 {
  flex: 3;
}
.span4 {
  flex: 4;
}
.span5 {
  flex: 5;
}
.span6 {
  flex: 6;
}
.span7 {
  flex: 7;
}
.span8 {
  flex: 8;
}
.span9 {
  flex: 9;
}
.span10 {
  flex: 10;
}
.span11 {
  flex: 11;
}
.span12 {
  flex: 12;
}

//绝对相对定位
.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.no-margin{
  margin: 0;
}
